<div role="dialog"
     (click)='onContainerClicked($event)'
     class="modal-portal"
     tabindex="-1"
     [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}"
     *ngIf="visible">
  <div class="modal-portal-backdrop">
    <div class="modal-portal-content">
      <div class="view-container">
        <ng-container *ngIf="header">
        <ng-container *ngTemplateOutlet="header"></ng-container>
      </ng-container>
      </div>
      <ng-container *ngIf="body">
        <ng-container *ngTemplateOutlet="body"></ng-container>
      </ng-container>
    </div>
  </div>
</div>
